.editYourProfile{
    position: relative;
    top: 98px;
  }
.editYourProfile input{
    background:#efe;
  }
  .panel-title{
    text-align:center;
    font-weight:bold;
    font-family: 'Fira Sans', sans-serif;  
  }
  .redError{
    color:red;
   }
   .redErrorParent{
    color:red;
    text-align: center;
    font-size: 17px;
    padding:5px 0px;
    font-weight: bold; 
   }