<div class="bannerBody">
  <div class="container">
    <div class="col-sm-8 tool_title_login">
	  <h1>Time Management Tool </h1>
	  <span>Powered by Infinite... </span>
	</div>
	<div class="col-sm-4"></div>
	
	
  </div>
  <div class="container">
        <div class="row">
		    <div class="col-lg-3 col-md-2 col-sm-2 col-xs-1"></div>
            <div class="col-lg-6 col-md-8 col-sm-8 col-xs-10 login-box">
                <!--<div class="col-lg-12 tool_title">
                    Time Management Tool
					
                </div>-->
				<div class="col-lg-12 login-title">
                    Get Your Password!
                </div>

                <div class="col-lg-12 login-form">
                    <div class="col-lg-12 login-form"> 
                        <div [ngClass]="{'redErrorParent': forgotMailId}" *ngIf="forgotMailId">
                            Email is not correct!!!
                          </div>

                        <form [formGroup]="forgotEmpForm" (ngSubmit)="getPassword()">
                            <div class="form-group">
                                <label class="form-control-label">E-MAIL
                                     <i class="fa fa-envelope" aria-hidden="true"></i></label>
                                <input type="email" class="form-control" formControlName="empMail" id="empMail">
                                <span class="help-block" [ngClass]="{'redError': formErrors.empMail}" *ngIf="formErrors.empMail">
                                    {{formErrors.empMail}}
                                  </span>
                            </div>
                             <div class="col-lg-12 loginbttm">
                                <div class="col-lg-6 login-button">
                                    <button type="submit" class="btn btn-outline-primary">
                                    Get Password 
                                    <i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-3 col-md-2 col-sm-2 col-xs-1"></div>
            </div>
        </div>

    </div>
</div>